<!-- landing.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aprenda Violino com Paixão e Profissionalismo</title>
    <link rel="stylesheet" href="/css/landingPage.css" />
  </head>
  <body>
    <header>
      <h2>Nossa Escola de Violino</h2>
    </header>
    <div class="container">
      <div class="image-container">
        <img src="/images/Gui.jpg" alt="Imagem de Guilherme" />
        <img src="/images/Jordana.jpg" alt="Imagem de Jordana" />
      </div>
      <div class="text-container">
        <h1>Bem-vindo à Nossa Escola de Violino</h1>
        <p>
          Seja bem-vindo ao mundo encantador do violino, onde as notas ganham
          vida e a música se transforma em poesia. Aqui, no coração da nossa
          escola, celebramos não apenas as melodias exuberantes, mas também a
          jornada emocionante de aprendizado e crescimento pessoal.
        </p>
        <p>
          Somos um casal de violinistas apaixonados, dedicados a compartilhar
          nossa expertise e amor pela música com você. Juntos, trazemos anos de
          experiência em performances inspiradoras e ensino especializado,
          criando uma atmosfera acolhedora e enriquecedora para todos os nossos
          alunos.
        </p>
        <p>
          Em nossas aulas de violino, você encontrará mais do que simplesmente
          aprender a tocar um instrumento. Oferecemos uma abordagem holística
          que combina técnica, expressão artística e uma profunda compreensão da
          música. Cada sessão é cuidadosamente elaborada para atender às suas
          necessidades individuais e metas musicais, enquanto exploramos juntos
          o vasto repertório do violino, desde clássicos atemporais até
          composições contemporâneas.
        </p>
        <p>
          Não importa se você está começando sua jornada musical ou deseja
          aprimorar suas habilidades existentes, nossas aulas são adaptadas para
          todos os níveis, desde iniciantes até músicos experientes. Com
          paciência, dedicação e uma dose saudável de diversão, estamos aqui
          para guiá-lo em cada passo do caminho, ajudando-o a desbloquear todo o
          potencial do seu talento musical.
        </p>
        <p>
          Junte-se a nós e embarque nesta emocionante aventura musical. Descubra
          a magia do violino e deixe sua música ecoar pelo tempo e espaço. Entre
          em contato hoje mesmo e reserve sua aula experimental. Estamos
          ansiosos para fazer música juntos!
        </p>
        <a href="/login">Conheça Nossas Aulas</a>
      </div>
    </div>
    <footer>
      <p>Rodapé - Texto Aqui</p>
    </footer>
  </body>
</html>
