<!-- login.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
    <style>
        header, footer {
            background-color: #3e352b; /* Cor marrom */
            color: #fff; /* Texto branco */
            padding: 20px;
            text-align: center;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #f4f1ea; /* Cor de fundo similar à página principal */
            padding: 20px;
            border-radius: 10px; /* Bordas curvadas */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
        }

        .input-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #3e352b; /* Cor marrom */
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc; /* Cor da borda */
            border-radius: 5px; /* Bordas curvadas */
            box-sizing: border-box;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #392e25; /* Tom mais escuro */
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease; /* Transição suave */
        }

        button:hover {
            background-color: #463933; /* Tom mais escuro no hover */
        }

        a {
            display: block;
            text-align: center;
            color: #3e352b; /* Cor marrom */
            text-decoration: none;
        }
    </style>
</head>
<body>
    <header>
        <h2>Login Page</h2>
    </header>
    <div class="container">
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <br>
        <a href="/register" class="register-button">Register now</a>

    </div>
    <footer>
        <p>Footer - Texto Aqui</p>
    </footer>
</body>
</html>
