body {
    background-color: #000000; /* Fundo escuro */
    color: #fff; /* Texto branco */
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #3e3e3e; /* Fundo preto */
    color: #fff; /* Texto branco */
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
}

header .home-link {
    position: absolute;
    left: 20px;
}

header .home-link img {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.main-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;    
    margin-top: 60px;
    box-sizing: border-box;
}

.login-container {
    text-align: center;
    margin-top: 20px; /* Espaço entre o header e o container de login */
}

.login-container img {
    width: 200px;
    margin-bottom: 20px;
}

form {
    background-color: #3e3e3e; /* Fundo preto */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin-bottom: 20px; /* Espaço entre o formulário e o botão de registro */
}

form input[type="email"],
form input[type="password"] {
    width: calc(100% - 22px); /* Ajuste para incluir padding e border */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333; /* Cor da borda escura */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #121212; /* Fundo escuro para inputs */
    color: #fff;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: #010101;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #463933;
}

.register-button {
    display: inline-block;
    padding: 12px 20px; /* Ajuste do padding */
    background-color: #ffffff; /* Botão de registro */
    color: #010101;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px; /* Ajuste do tamanho da fonte */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #463933;
    color: #fff;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #999;
    text-decoration: none;
    font-size: 0.9em;
}

.forgot-password:hover {
    text-decoration: underline;
}
