body {
    background-color: #000000; /* Fundo escuro */
    color: #fff; /* Texto branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.register-container {
    text-align: center;
}

.register-container img {
    width: 200px;
    margin-bottom: 20px;
}

form {
    background-color: #3e3e3e; /* Fundo preto */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: calc(100% - 22px); /* Ajuste para incluir padding e border */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333; /* Cor da borda escura */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #121212; /* Fundo escuro para inputs */
    color: #fff;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: #010101;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Espaçamento para o botão de registro */
}

form button:hover {
    background-color: #463933;
}

.login-link {
    display: block;
    margin-top: 10px;
    color: #999;
    text-decoration: none;
    font-size: 0.9em;
}

.login-link:hover {
    text-decoration: underline;
}
